//fonts
@font-face {
  font-family: 'bariolregular';
  src: url('../assets/fonts/bariol_regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham';
  src: url('../assets/fonts/GOTHAM-LIGHT.woff2') format('woff2');
}